
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="login_2018"> 
        <h3>Ledinpro</h3>
    </div>
</body>
</html>
