
@{
    ViewBag.Title = "Index";
    // 优化后台管理
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h1 style="color: black">后台管理</h1>
<br />
<br />
<br />
<a href="/Carousels"><h2 style="color: black">1.轮播图</h2></a>
<a href="/News"><h2 style="color: black">2.公司新闻管理</h2></a>
<a href="/ProductScenes"><h2 style="color: black">3.产品管理</h2></a>
<a href="/CompanyInfoes"><h2 style="color: black">4.公司信息管理</h2></a>


