@using RYLLight.Models
@using RYLLight.ToolsClass
@model IEnumerable<Carousel>

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    int count = 0;
    string productDetailLinkStr = @"/Products/ProductDetailInfo?productId=";
    int productId = 100000;
    List<News> newsList = (List<News>)ViewBag.news;
    List<ProductScene> productSceneList = (List<ProductScene>)ViewBag.scenes;
    List<Product> productList = (List<Product>)ViewBag.sceneProducts;
    CompanyInfo companyInfo = (CompanyInfo)ViewBag.companyInfo;
}

<!--轮播图部分-->
<div class="blackBackground" style="margin-top: 20px;padding-bottom: 0px">
    <div id="carousel-example-generic" class="container-fluid carseoulImg carousel slide" data-ride="carousel">
        <!--轮播图-->
        <div class="carousel-inner" role="listbox">
            @{
                count = 0;
            }
            @foreach (var item in Model)
            {
                productDetailLinkStr = @"/Products/ProductDetailInfo?productId=";
                if (int.TryParse(item.PictureName, out productId))
                {
                    productDetailLinkStr = "#";
                }
                else
                {
                    productDetailLinkStr = "#";
                }

                if (count++ == 0)
                {
                    <div class="item active">
                        <div class="visible-xs visible-sm hidden-md hidden-lg carseoulImg">
                            <a href=@(productDetailLinkStr)>
                                <img src=@(item.MobilePicturePath) class="img-responsive" />
                            </a>
                        </div>
                        <div class="hidden-xs hidden-sm visible-md visible-lg carseoulImg">
                            <a href=@(productDetailLinkStr)><img src=@(item.PicturePath) class="img-responsive" /></a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="visible-xs visible-sm hidden-md hidden-lg carseoulImg">
                            <a href=@(productDetailLinkStr)>
                                <img src=@(item.MobilePicturePath) class="img-responsive" />
                            </a>
                        </div>
                        <div class="hidden-xs hidden-sm visible-md visible-lg carseoulImg">
                            <a href=@(productDetailLinkStr)>
                                <img src=@(item.PicturePath) class="img-responsive" />
                            </a>
                        </div>
                    </div>
                }
            }
        </div>

        <!--Controls-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color:#ffffff"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:#ffffff"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!--新闻轮播图部分-->
<div id="companyNews" class="blackBackground" style="margin-top: 20px;padding-bottom: 0px">
    <div id="carousel-example-generic-news" class="container-fluid carseoulImg carousel slide" data-ride="carousel">
        <!--轮播图-->
        <div class="carousel-inner" role="listbox">
            @{
                count = 0;
            }
            @foreach (var item in newsList)
            {
                if (count++ == 0)
                {
                    <div class="item active">
                        <div class="visible-xs visible-sm hidden-md hidden-lg carseoulImg">
                             <img src=@(item.NewsBackgroundImg) class="img-responsive" />
                        </div>
                        <div class="hidden-xs hidden-sm visible-md visible-lg carseoulImg">
                            <img src=@(item.NewsBackgroundImg) class="img-responsive" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="visible-xs visible-sm hidden-md hidden-lg carseoulImg">
                            <img src=@(item.NewsBackgroundImg) class="img-responsive" />
                        </div>
                        <div class="hidden-xs hidden-sm visible-md visible-lg carseoulImg">
                            <img src=@(item.NewsBackgroundImg) class="img-responsive" />
                        </div>
                    </div>
                }
            }
        </div>

        <!--Controls-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color:#ffffff"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:#ffffff"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div id="productScenes">
    @{
        <div class="text-center">
            @{
                if (productSceneList.Count() > 0)
                {
                    // 大屏幕部分
                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                        @{
                            foreach (var scene in productSceneList)
                            {
                                <a id=@scene.Id class="sceneDisInlineBlock productSceneNavigation" href="#">
                                    <img class="img-responsive" src=@scene.ScenePicturePath alt=@scene.SceneName />
                                </a>
                            }
                        }
                    </div>

                    // 小屏幕部分
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <div class="row">
                            @{
                                foreach (var scene in productSceneList)
                                {
                                    <div class="col-xs-4 col-sm-4">
                                        <a id=@scene.Id class="smallSceneDisInlineBlock productSceneNavigation" href="#">
                                            <img class="img-responsive" src=@scene.ScenePicturePath alt=@scene.SceneName />
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>

<!--场景对应产品:使用部分视图实现，实现通过ajax更新部分视图-->
@RenderPage("~/Views/Home/ProductForSceneId.cshtml", ViewBag.sceneProducts)

<!--公司介绍部分-->
@{
    if (companyInfo != null)
    {
        <div id="companyIntroduce" class="container-fluid">
            <img class="img-responsive" src=@(companyInfo.CompanyBackgroundImg) style="width:100%" />
        </div>
    }
}
